/* FUENTES DE BASE */

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,600&display=swap');

/*
font-family: 'Domine', serif;
font-family: 'Nunito Sans', sans-serif;
*/

/* Paleta de colores */
.color1 { #010300 };
.color2 { #314c53 };
.color3 { #5a7f78 };
.color4 { #bbdec6 };
.color5 { #f7f8fc };


/* RESETS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* RESET - Tamaño de fuente- 1rem/em = 10px */
html {
    font-size: 62.5%;
}

img {
    height: auto;
    width: auto;
    background-color: none;

}



/*ESTILO: Estilos de texto*/
.titulo {
    font-family: 'Domine', serif;
    font-weight: 600;
    color: #1e1817;
}

.subtitulo {
    font-family: 'Domine', serif;
    font-weight: 600;
    font-size: x-large;
    color: #314c53;
    background-color: none;

}

.font-principal {
    font-family: 'Nunito San', sans-serif;
    font-weight: 400;
    color: #120b09;
}

.font-secondary {
    font-family: 'Nunito San', sans-serif;
    font-weight: 200;
}

p {
    text-justify: auto;
    font-size: 1.5rem;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
    padding-top: 15rem;
}


.logo {
    width: 20rem;
    
}

.bg-hexa {
    background-image: url(../images/patrones/espiga.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
        
}

.navbar {    
    border: none;
    padding: none;
    font-size: 2.5rem;
    align-items: center;
    text-align: justify;
    justify-content: right space-between;
}

.nav-link {
    margin-left: 1.5rem;
}
.nav-link:hoover {
    color: #314c53;
    text-shadow: 2px 2px 2px 2px #1e1817;

}

.navbar-toggler {
    margin-right: 5rem;
    
}

.navbar-toggler-icon {
    color: #010300;
    width: 4rem;
    height: 4rem;
    justify-content: space-around;
    font-size: 2.5rem;
    box-shadow: 2px #314c53;
}

/* Estilos para el contenedor del título*/
.titulo-container {
    background-image: linear-gradient(to bottom, #314c53, #5a7f78);
    padding: 20px; 
    text-align: center;
}


.container-fluid {
    --bs-gutter-x: none;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-item img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*centra el título*/
    color: rgb(247, 250, 250);
    font-size: 4.5vw;
    z-index: 100; /* título por encima */
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5)    
}

.fondo {
    background-image: linear-gradient(to bottom, #314c53, #5a7f78) ;
}

.areas {
    height: auto;
    
}

.card {
    flex-grow: 1;
    background-color: #efefe5;
    img {
        width: 100%;
        height: auto;
        border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    }
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    p {
        text-justify: distribute;
    }
}


.btn-personal {
    background-color: #bbdec6;
    size: 1.5rem;
    padding: 15px 30px;
    font-size: 1.8rem;
    border-radius: 10px;
    font-weight: bold;
}


.foot {
    max-height: auto;
    margin: 0 auto;
    background-image: linear-gradient(to top, #bbdec6, #314c53);
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    height: auto;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        list-style: none;
        padding-left: 1.5rem;
    }
    li {
        display: flex;
        align-items: center;
        margin: 0 10px;
        margin-bottom: 10px;
        color: #010300;
    }
    .foot-text {
        font-size: 2rem;
        font-weight: light;
        text-align: justify;
    }
    .icon-foot {
        max-width: 2rem;
        max-height: 2rem;
        margin-right: 1rem;
    }
}

.icon-map {
    display: block;
    max-width: 10rem;
    max-height: 10rem;
    justify-content: center;
    margin-bottom: 1rem;
    left: 50%;
}

.copyright {
    display: flex;
    height: 4rem;
    font-size: 1.3rem;
    align-items: top;
}

.content {
    max-width: 100%;
    margin: 0 auto; 
    overflow-x: hidden; 
}


@media (max-width: 767px) {
    .navbar-collapse {
        justify-content: center;
    }
    .carousel {
        display: none;
    }
    .overlay-text {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #efefe5; 
        font-size: 4.5vw;
        z-index: 100;
        text-shadow: 4px 4px 6px rgba(9, 9, 9, 0.5);
    }
    article img {
        max-width: 100%;
    }
    a {
        justify-content: center;
    }

}

@media (min-width: 768px) {
    .carousel-inner img {
        max-height: 500px;
    }
}

@media (max-width: 320px) {
    footer {
        ul {
            margin-left: 2rem;
            padding: 2rem;

        }
        li {
            margin-bottom: 1rem;
            flex-wrap: nowrap;
        }
        .foot-text {
            flex-grow: 1;
        }
    }
}