/* FUENTES DE BASE */

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,600&display=swap');

/*
font-family: 'Domine', serif;
font-family: 'Nunito Sans', sans-serif;
*/

/* Paleta de colores */
.color1 { #010300 };
.color2 { #314c53 };
.color3 { #5a7f78 };
.color4 { #bbdec6 };
.color5 { #f7f8fc };


/* RESETS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* RESET - Tamaño de fuente- 1rem/em = 10px */
html {
    font-size: 62.5%;
}

img {
    width: 100%;
    background-color: none;

}



/*ESTILO: INDEX*/
body {

}

/*Estilos de fuentes*/
.titulo {
    font-family: 'Domine', serif;
    font-weight: 600;
    color: #1e1817;
}

.subtitulo {
    font-family: 'Domine', serif;
    font-weight: 600;
    font-size: x-large;
    color: #010300;
    background-color: none;

}

.font-principal {
    font-family: 'Nunito San', sans-serif;
    font-weight: 400;
    color: #120b09;
}

.font-secondary {
    font-family: 'Nunito San', sans-serif;
    font-weight: 200;
}

header {
    display: flex;
    align-items: center;
    height: 16rem;
    justify-content: space-between;
    align-items: center;
    
    font-size: 2.5rem;
}

.logo {
    width: 20rem;
    
}

.bg-hexa {
    background-image: url(../images/patrones/geometric.jpg); 
    background-repeat: repeat; 
    background-size: 15rem;
    
}

.navbar {
    
    border: none;
    padding: none;
    font-size: 2.5rem;
    align-items: center;
    text-align: justify;
    justify-content: right space-between;

}

.nav-link:hoover {
    color: #010300;

}

.navbar-toggler-icon {
    color: #010300;
    width: 4rem;
    height: 4rem;
    justify-content: space-around;
    font-size: 2.5rem;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(247, 250, 250);
    background-color: rgba(red, green, blue, alpha);
    font-size: 8rem;
}


.fondo {
    background-color: #5a7f78;
}

.areas {
    height: 45rem;
}

.btn-personal {
    background-color: #bbdec6;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

footer i {
    font-size: 30px;
    color: #007bff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .navbar-collapse {
        justify-content: center;
    }

    .carousel-inner img {
        max-height: auto;
    }

    .overlay-text {
        font-size: 4rem
        ;
    }

    article img {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .carousel-inner img {
        max-height: 500px;
    }
}

/*
.navbar {
    height: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/images/patrones/more-leaves.png); 
    background-repeat: repeat; 
    background-size: none;
    background-position: center;
    width: 100%;
    img {
        height: 10rem;
        width: 10rem;
    }
    font-size: 2.5rem;
}

main {
    height: 40rem;
    width: 100%;
    overflow: hidden;
    }
    /*max-width: 2500px;

#carouselExampleAutoplaying {
    max-width: auto;
    max-height: auto;
    overflow: hidden;
}





.carousel-title {
    position: absolute;
    top: 25%; /* Ajusta la posición vertical 
    left: 75%; /* Ajusta la posición horizontal
    transform: translate(-50%, -50%); /* Centra el título
    color: #a4ead1;
    font-size: 4.5vw;
    z-index: 100; /* título por encima
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
    
}

.carousel-text {
    position: absolute;
    top: 25%; /* Ajusta la posición vertical 
    left: 75%; /* Ajusta la posición horizontal 
    transform: translate(-50%, -50%); /* Centra el título 
    color: #a4ead1;
    font-size: 3.5vw;
    z-index: 100; /* título por encima 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
}

.section-main-areas {
    height: 55rem;
    width: auto;
    display: flex;


}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
    width: 10rem;
    }
    font-size: 1.5rem;
}


/* GRILLA CONTACTO

#grilla-contacto {
    display: grid;
    grid-template-rows: 250px 25% 1fr 10% 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "informacion informacion"
    "formulario mapa"
    "redes redes"
    "footer footer";
    
}

header {
    grid-area: header;
    display: flex;
}

.informacion {
    grid-area: informacion;
    display: flex;
    align-items: center;
    align-content: space-around;
}

.formulario {
    grid-area: formulario;
    display: flex;
}

.mapa-contacto {
    grid-area: mapa;
}

.redes {
    grid-area: redes;
}

/* ESTILOS DE FUENTES 


}


/* ESTILO DEL HEADER */


/* ESTILO DEL MAIN 

    .section-main-areas {
    background-color: #8df3c7d7;
    padding-top: 1rem;
}



.section-main-carrusel-image {
    

}

.section-main-areas-article {
    
}




/* ESTILO DEL FOOTER

.footer {
    background-image: url(/images/fondo-piedra.jpg);
    background-repeat: repeat;
    height: none;
    width: none;
}

/*.chat-container {
    width: 300px;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-header {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.chat-messages {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.user-message {
    background-color: #e5f7ff;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    max-width: 70%;
}

.bot-message {
    background-color: #fff;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    max-width: 70%;
    align-self: flex-end;
}

.chat-input {
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 8px;
}

.input-field {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.send-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}*/